@model List<News24.Web.ViewModels.StartViewModels.ArticleViewModel>

<div class="col-12 col-md-12 col-lg-4 ">
    <div class="footer_main_title py-3"> Последние статьи</div>
    @foreach (var item in Model)
    {

        <a href="@Url.Action("Details","Start")" class="footer_img_post_6"><img src="data:image/jpeg;base64,@Convert.ToBase64String(item.MainImage)" alt="@item.Head" /></a>
    }

</div>
