@model News24.Web.ViewModels.StartViewModels.IndexViewModel
@using News24.Web.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid paddding mb-5">
    <div class="row mx-0">

        @{Html.RenderPartial("_LastArticles", Model);}
    </div>
</div>
@using (Ajax.BeginForm("GetArticles", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Новости</div>
                    </div>
                    <div id="results">
                        @{Html.RenderPartial("_Articles", Model);}
                    </div>


                </div>

                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    @{Html.RenderPartial("_Tags", Model);}
                    @{Html.RenderPartial("_MostPopular", Model);}

                </div>
            </div>
        </div>
        <div class="row mx-0 animate-box" data-animate-effect="fadeInUp">
            <div class="col-12 text-center pb-4 pt-4">
                @Html.PaginationArticlesAjax(Model.Pager)
            </div>
        </div>
    </div>
}

@section LastPosted
    {
    @foreach (var item in Model.LastArticles)
    {
        <a href="@Url.Action("Index", "Article", new {id = item.ArticleId })" class="footer_img_post_6">
            <img class="img-fluid " src="data:image/jpeg;base64, @Convert.ToBase64String(item.MainImage)" alt="@item.Head" />
        </a>
    }
}
