@{
    ViewBag.Title = "HttpError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-md-center">
        <img src="~/images/500.png" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="w-100"></div>
        <h1 class="text-center text-info">Произошла непредвиденная ошибка</h1>
        <div class="w-100"></div>
        <a href='javascript:history.go(-1)' class="btn btn-link">Вернуться назад</a>
    </div>
</div>