@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-md-center">

        <h1 class="text-center text-info fail-text">404</h1>
        <div class="w-100"></div>
        <h2 class="text-center text-info">Упс.. Страница не найдена</h2>
           <div class="w-100"></div>
        <a href='javascript:history.go(-1)' class="btn btn-link">Вернуться назад</a>
    </div>
</div>
