@{
    ViewBag.Title = "Подтверждение забытого пароля";
}


            <h5 class="text-center ">
                К сожалению мы не можем востановить ваш пароль, так как вы не @Html.ActionLink(" зарегистрировались", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) или не подтвердили електронную почту.
            </h5>
 