@{
    ViewBag.Title = "Подтверждение забытого пароля";
}




            <h5 class="text-center ">
                Пожалуйста, проверьте свою <a href="https://mail.google.com/mail">электронную почту</a>, чтобы сбросить пароль.
            </h5>

