
@model News24.Web.ViewModels.AccountViewModels.ForgotPasswordViewModel


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @*@Html.ValidationSummary()*@

    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-6 " })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email@example.com" })
                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" class="btn btn-primary" value="Далее" />
            </div>
        </div>
    </div>

}

