@{
    ViewBag.Title = "Почта подтверждена";
}


<div class="container">
    <div class="row justify-content-md-center">
        <p class=" text-center text-info">
            Почта успешно подтверждена!
        </p>
        @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn btn-link" })
    </div>
</div>