@{
    ViewBag.Title = "Почта подтверждена";
}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2 class=" text-center text-info mt-5 mb-10">
                Почта успешно подтверждена!
                <br />
                @Html.ActionLink("На главную", "Index", "Start", null, new { @class = "btn btn-link" })
            </h2>
           
        </div>
       
       
    </div>
</div>