@{
    ViewBag.Title = "Почта подтверждена";
}

<div class="text-center">
    <p class="display-4 text-center">
        Почта успешно подтверждена!
    </p>
    @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn btn-link" })

</div>