@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<hgroup class="modal-title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        К сожалению мы не можем востановить ваш пароль, так как вы не  @Html.ActionLink(" зарегистрировались", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) или не подтвердили електронную почту.
    </p>
</div>