@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<hgroup class="modal-title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
    </p>
</div>