

@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="modal-title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был изменен. Пожалуйста @Html.ActionLink(" нажмите здесь чтобы войти.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

