

@{
    ViewBag.Title = "Reset password confirmation";
}



<div class="container mt-5">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <h5 class="text-center ">
                Ваш пароль был успешно изменен. Пожалуйста нажмите @Html.ActionLink("здесь ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })чтобы войти.
            </h5>
        </div>
    </div>

</div>